body {
    max-width:700px;
    margin: 0 auto;
    padding: 0 2em;
    color: #444;
    font-family: "Noto Serif", Georgia, serif;
}


h1, h2, h3, h4 {
    margin-top: 60px;
}

[role=banner] h1 {
    margin-top:20px;
}

h1 + h2,
h2 + h3,
h3 + h4 {
    margin-top:20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 3px solid #ccc;
}

tbody tr {
}

th, td {
    padding: 0.5em;
    text-align:left;
    border-bottom: 1px solid #ccc;
}

